body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    margin-top: 50px;
}

.buttons button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

.stats {
    margin-top: 20px;
    font-size: 20px;
}

/* النص الشفاف بأسفل الصفحة */
footer {
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.2); /* شفافية خفيفة */
    position: fixed;
    bottom: 10px;
    width: 100%;
}
